---
primary-color: #73B1BE
secondary-color: #9EE9F8
---

@import "{{ site.theme }}";

/* Globals */
body {
    background: #2B2F3B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    border-bottom: 1px dashed #9EE9F8;
    color: #9EE9F8;
}

h1, h2, h3, h4, h5, h6 {
    color: #9EE9F8;
}

/* Header */
header {
    background: #2F3240;
    border-bottom: 1px dashed #73B1BE;
    padding: 10px 0;
}

header h1, header h2 {
    color: #73B1BE;
}

header h2 {
    margin: -1vh 0 0 -1.75vh;
}

header h1:before {
    content: "./";
}

#title {
    cursor: pointer;
}

/* Content */
.pages-container {
    margin-left: auto;
    margin-top: auto;
}

.container {
    max-width: none;
    display: flex;
}

#page-content {
    max-width: 700px;
    margin: auto;
}

#main-content {
    min-height: 55vh;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

#main-content h2 {
    font-size: 24px;
}

/* Footer */
.footer {
    color: #73B1BE;
    text-align: right;
    margin-top: auto;
    padding: 30px;
    border-top: 1px dashed #73B1BE;
}
