---
primary-color: #73B1BE
secondary-color: #9EE9F8
---

@import "{{ site.theme }}";

/* Globals */
body {
    background: #2B2F3B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    border-bottom: 1px dashed #9EE9F8;
    color: #9EE9F8;
}

h1, h2, h3, h4, h5, h6 {
    color: #9EE9F8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style-image: unset;
    list-style: none;
    text-align: left;
    color: #73B1BE;
    font-weight: bold;
}

ul li:before {
    content: ">>";
    margin-left: -2em;
    margin-right: 1em;
}

/* Header */
header {
    background: #2F3240;
    border-bottom: 1px dashed #73B1BE;
    padding: 10px 0;
}

header h1, header h2 {
    color: #73B1BE;
}

    header h1 {
        margin: 0 5em 0 -1em;
    }

@keyframes on-highlight-animation {
    from {color: #73B1BE;}
    to {color: #9EE9F8;}
}
@keyframes off-highlight-animation {
    from {color: #9EE9F8;}
    to {color: #73B1BE;}
}
header h1:hover {
    animation-name: on-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
header h1:not {
    animation-name: off-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

header h2 {
    margin: -1vh 0 0 -1.75vh;
}

header h1:before {
    content: "./";
}

#title {
    cursor: pointer;
}

/* Content */
.pages-container {
    margin-left: auto;
    margin-top: auto;
}

.container {
    max-width: none;
    display: flex;
}

#page-content {
    max-width: 40em;
    margin: auto;
    text-align: justify;
}

.content-container {
    padding: 2em 0 2em 0;
}

#main-content {
    min-height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

#main-content h2 {
    font-size: 24px;
}

/* Footer */
.footer {
    color: #73B1BE;
    text-align: right;
    margin-top: auto;
    padding: 30px;
    border-top: 1px dashed #73B1BE;
}

/* Icons */
.octicon {
    display: inline-block;
    vertical-align: bottom;
    fill: currentcolor;
    margin: 5px;
}

.clickable-icons:hover {
    animation-name: on-highlight-animation;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
.clickable-icons:not {
    animation-name: off-highlight-animation;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

#index-title {
    text-align: center;
    margin: 1em 0 1em 0;
}

.main-icons {
    display: flex;
    text-align: center;
    justify-content: center;
}

#about-me-icon {
    cursor: pointer;
    color: #445b67;
}
#about-me-icon:hover {
    animation-name: on-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#about-me-icon:not {
    animation-name: off-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#my-github-icon {
    cursor: pointer;
    color: #445b67;
    padding: 0 2em 0 2em;
}
#my-github-icon:hover {
    animation-name: on-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#my-github-icon:not {
    animation-name: off-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#my-projects-icon {
    cursor: pointer;
    color: #445b67;
}
#my-projects-icon:hover {
    animation-name: on-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#my-projects-icon:not {
    animation-name: off-highlight-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* Post Layout */
#post-content {
    max-width: 40em;
    margin: auto;
    text-align: left;
}

/* Projects Page */
.project-list-item {
    border: 1px dashed #73B1BE;
    padding: 1em;
    text-align: left;
}
#project-name {
    text-align: center;
}
