---
layout: page
permalink: /blog/
---
{{ site.categories | insepct }}

{% for category in site.categories %}

    <ol>
        {% assign category_name = category | first %}
        <div class="categories">{{ category_name }}</div><br>

        {% for post in site.categories[category_name] %}
            <li id="post-list-item">
                <a href="{{ post.url }}">{{ post.title }}</a>
                <i>{{ post.date | date: "%B %-d, %Y" }}</i>
            </li><br>
        {% endfor %}
    </ol>
{% endfor %}
