---
layout: default
---
{% octicon smiley height:32 class:"right left" aria-label:hi %}
<h1 id="index-title">jqProjects</h1>
<h2 style="text-align: center;">Blogspace for a programmer's projects :3</h2>
<div class="main-icons">
    <a href="/about/"><div id="about-me-icon">{% octicon smiley height: 50 %}</div></a>
    <a href="https://github.com/jqprojects"><div id="my-github-icon">{% octicon mark-github height: 50 %}</div></a>
    <div id="my-email-icon">{% octicon mail height: 50 %}</div>
</div>
