---
layout: default
---
<!-- {% octicon smiley height:32 class:"right left" aria-label:hi %} -->
<h1 id="index-title"></h1>
<h2 id="index-description">Just another developer's blog :)</h2>


<ul id="nav-icons-list">
    <li><a class="clickable faded-color" id="about-me-icon"
        href="{% link about.md %}">{% octicon smiley height: 50 %}</a></li>
    <li><a class="clickable faded-color" id="my-github-icon"
        href="https://github.com/jqprojects">{% octicon mark-github height: 50 %}</a></li>
    <li><a class="clickable faded-color" id="my-projects-icon"
        href="{% link projects.md %}">{% octicon terminal height: 50 %}</a></li>
</ul>
