---
layout: default
---
<!-- {% octicon smiley height:32 class:"right left" aria-label:hi %} -->
<h1 id="index-title"></h1>
<h2 style="text-align: center;">Just another developer's blog :)</h2>
<div class="main-icons">
    <a href="{% link about.md %}"><div id="about-me-icon">{% octicon smiley height: 50 %}</div></a>
    <a href="https://github.com/jqprojects"><div id="my-github-icon">{% octicon mark-github height: 50 %}</div></a>
    <a href="{% link projects.md %}"><div id="my-projects-icon">{% octicon terminal height: 50 %}</div></a>
</div>
